* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

body {
	background-image: url(bg.jpeg);
	background-size: 100%;
	background-repeat: no-repeat;
}

#wrap {
	width: 700px;
	height: 550px;	
	margin-top: 50px;
	margin-left: 100px;
}	

#login {
	-webkit-appearance: none;
	width: 150px;
	height: 30px;
	margin-top: 50px;
	font-size: 20px;
}

.box1 {
	-webkit-appearance: none;
	border-radius: 0px;

}

.box2 {
	width: 300px;
}

.all {
	margin-top: 10px;
	height: 40px;
	font-size: 15px;
}

select {
	width: 72px;
}

span {
	color: red;
}
