* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	background-image: url(Image/troll.gif);
	background-repeat: no-repeat;
	background-size: 100%;
}

#box1 {
	position: absolute;
	top: 25%;
	right: 15%;
}

#box2 {
	width: 200px;
	height: 50px;
	font-size: 30px;
	border-radius: 50px;
	box-shadow: 5px 5px 10px #0095ff;
}